<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e4ffd9da-359d-4b5a-9bed-805cd03acab5/resourceGroups/BackgammonChat/providers/Microsoft.Web/sites/backgammonchat-ido</ResourceId>
    <ResourceGroup>BackgammonChat</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backgammonchat-ido.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>a9cf1957-5451-4264-acc3-5c19f2c10198</ProjectGuid>
    <PublishUrl>https://backgammonchat-ido.scm.azurewebsites.net/</PublishUrl>
    <UserName>$backgammonchat-ido</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>